@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Russo+One&display=swap');


:root {
  --primary-color: #ffb400;
  --secondary-color: #c23219;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #2196F3;
}

.item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item p {
  font-size: min(1.4rem);
  font-size: max(5vh);
  font-family: 'Russo One', sans-serif;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  padding-bottom: 3rem;
}

.container h3 {
  width: 100%;
  padding: 1.4rem;
}

.container h3 {
    background: rgb(255, 180, 0);
    width: 100%;
}

.table-users {
  width: 95%;
  margin: 2rem auto;
  border-collapse: collapse;
}

.table-users th,
.table-users td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

.table-users th {
  background: #fafafa;
  padding: 1rem auto;
  text-align: center;
}

.btn {
  background: transparent;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

.btn-add {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);  border: none;
  color: #000000;
  font-family: 'Russo One', sans-serif;
  font-size: min(1.4rem);
  font-size: max(5vh);
}

.table-wrapper {
  text-align: center;
}

/* Modal */

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #24232354;
  display: none;
}

.modal {
  position: relative;
  background: #fafafa;
  text-align: center;
  width: 25rem;
  margin: 5rem auto;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
  padding-bottom: 3rem;
}

.modal-show {
  display: block;
}

.modal-header {
  margin-bottom: 1rem;
  background: #c5c8ca;
  padding: 2rem;
}

.modal-body {
  padding: 2rem;
}

.btn-modal {
  background: var(--primary-color);
  border: none;
  color: #fafafa;
  width: 9rem;
}

input {
  width: 100%;
  height: 2.2rem;
  margin-bottom: 1rem;
  text-indent: 0.5rem;
  outline: none;
}

@media only screen and (max-width: 560px) {
  .table-users th,
.table-users td {
  font-size: 0.7rem;
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

}